# Symlink this file to have ghostty point to it
# ln -s ~/.config/ghostty.config /Users/$(whoami)/Library/Application\ Support/com.mitchell.ghostty/config

# Guake-style open/close bound to F12
keybind = global:f12=toggle_quick_terminal

# Keep terminal open on click outside terminal 
quick-terminal-autohide = false

# Navigate between terminals Ctrl+shift+(hjkl)
keybind = unconsumed:ctrl+shift+k=goto_split:top
keybind = unconsumed:ctrl+shift+j=goto_split:bottom
keybind = unconsumed:ctrl+shift+h=goto_split:left
keybind = unconsumed:ctrl+shift+l=goto_split:right

# Color scheme -- see more with `ghostty +list-themes`
theme = Galaxy

